UID=1000
GID=1000

# Circuit breaker (Ganesha) configuration
CB_FAILURE_RATE_THRESHOLD=50
CB_MINIMUM_REQUESTS=10
CB_INTERVAL_TO_HALF_OPEN=60
CB_TIME_WINDOW=180

# 3DBinPacking API
THREEDBP_USERNAME=
THREEDBP_API_KEY=
THREEDBP_BASE_URI=https://global-api.3dbinpacking.com
THREEDBP_ENDPOINT=/packer/packIntoMany
